<div class="bodycourse">
    <div class="row">
        <div class="col-md-2">
            <div class="card border-success mb-3" style="max-width: 18rem;">
                <div class="card-header bg-transparent border-success">course name</div>
                <div class="card-body text-success">
                  <h5 class="card-title">Success card title</h5>
                  <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                </div>
                <button type="button" class="btn btn-outline-success">Success</button>
              </div>
        </div>
        <div class="col-md-2">
            <div class="card border-success mb-3" style="max-width: 18rem;">
                <div class="card-header bg-transparent border-success">course name</div>
                <div class="card-body text-success">
                  <h5 class="card-title">Success card title</h5>
                  <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                </div>
                <button type="button" class="btn btn-outline-success">Success</button>
              </div>
        </div>
        <div class="col-md-2">
            <div class="card border-success mb-3" style="max-width: 18rem;">
                <div class="card-header bg-transparent border-success">course name</div>
                <div class="text-center">
                    <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn%3AANd9GcT9Uz-4S4RoQPKVKYbu-c3GhciCpVjvBeu5ARmIpH054mwlSzrd&usqp=CAU" class="rounded" >
                  </div>
                  <button type="button" class="btn btn-outline-success">Success</button>
              </div>
        </div>
    </div>

</div>