
<h1>Caterogy</h1>
<div class ="body">
    <div class ="row">
        <div class="col-md-2">
            <div class="card" style="width: 18rem;">
                <img src="https://www.nicepng.com/png/detail/426-4267016_mk-logo-design-png-logo-marketing-and-design.png" alt="..." class="img-thumbnail">
                <h5 class="card-title">Marketing</h5>
                
            </div>
            
        </div>
        <div class="col-md-2">
            <div class="card" style="width: 18rem;">
                <img src="https://www.nicepng.com/png/detail/426-4267016_mk-logo-design-png-logo-marketing-and-design.png" alt="..." class="img-thumbnail">
                <h5 class="card-title">Marketing</h5>
                
            </div>
            
        
            
        </div>
        <div class="col-md-2">
            <div class="card" style="width: 18rem;">
                <img src="https://www.nicepng.com/png/detail/426-4267016_mk-logo-design-png-logo-marketing-and-design.png" alt="..." class="img-thumbnail">
                <h5 class="card-title">Marketing</h5>
                
            </div>
            
        </div>
        <div class="col-md-2">
            <div class="card" style="width: 18rem;">
                <img src="https://www.nicepng.com/png/detail/426-4267016_mk-logo-design-png-logo-marketing-and-design.png" alt="..." class="img-thumbnail">
                <h5 class="card-title">Marketing</h5>
                
            </div>
            
        </div>
        <div class="col-md-2">
            <div class="card" style="width: 18rem;">
                <img src="https://www.nicepng.com/png/detail/426-4267016_mk-logo-design-png-logo-marketing-and-design.png" alt="..." class="img-thumbnail">
                <h5 class="card-title">Marketing</h5>
                
            </div>
            
        </div>
            
    </div>

    
    
</div>
