<div id='mainDiv'>
  <div id="videoDiv">
    <div *ngFor="let video of videos">
      <div class="embed-responsive embed-responsive-16by9">
        <div><iframe class="embed-responsive-item" [src]="transform(video.url)"></iframe></div>

      </div>
      <div class='h3'>{{video.title}} </div>
      <div>
        <p>{{video.description}}</p>
      </div>
    </div>

  </div>
  <div id='contentDiv'>
    <!--Grid row-->
    <div class="row">

      <!--Grid column-->
      <div class="col-md-12">

        <mdb-card class="testimonial-card">
          <!--Bacground color-->
          <div class="card-up indigo lighten-1">
          </div>

          <!--Avatar-->
          <div class="avatar">
            <img src="https://www.livelingua.com/img/profilesTeachers/103/Guillaume-Deneufbourg-Square_Profile_S.jpg"
              class="rounded-circle">

            <span class='h3'>{{course.teacher.first_name +' '+ course.teacher.last_name}}

            </span>
            <div id="socialMedia" class="h4">
              <a type="button" class="btn-floating btn-lg btn-tw"><i class="fab fa-twitter"></i></a>
              <a class="icons-sm li-ic">
                <mdb-icon fab icon="linkedin-in"></mdb-icon>
              </a>
              <a class="icons-sm slack-ic">
                <mdb-icon fab icon="slack"></mdb-icon>
              </a>
              <a class="icons-sm git-ic">
                <mdb-icon fab icon="github"></mdb-icon>
              </a>
            </div>

          </div>

          <hr>
          <mdb-card-body>

            <!-- <mdb-card-title>
              <h4>{{course.course.title}}</h4>
            </mdb-card-title> -->

            <!--Quotation-->
            <p>
              <mdb-icon fas icon="quote-left"></mdb-icon> {{course.course.description}}
            </p>
          </mdb-card-body>
        </mdb-card>

      </div>
      <!--Grid column-->
    </div>
  </div>
  <div style="clear: both;"> </div>
</div>
<div id='chatDiv'>
  <app-chat></app-chat>
</div>

<!-- <div>
  <app-chat></app-chat>
</div> -->
<!---------------------------------------------->
